body {
  margin: 0;
  background-color: #3b8c88;
}

.header {
  text-align: center;
  background-color: #ffb969;
  color: #452e3c;
  padding: 10px;
}

.divBtn {
  margin: auto;
}

.divCard {
  background-color: black;
}

.carta {
  width: 200px;
  position: relative;
  left: 100px;
  margin-left: -100px;
}

#player-cartas, #machine-cartas {
  height: 300px;
}